Installing required Dependencies

In [1]:
%pip install -U langgraph langchain_community langchain_openai

Collecting langgraph
  Downloading langgraph-0.1.1-py3-none-any.whl (87 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 87.3/87.3 kB 2.8 MB/s eta 0:00:00
Collecting langchain_community
  Downloading langchain_community-0.2.5-py3-none-any.whl (2.2 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.2/2.2 MB 11.5 MB/s eta 0:00:00
Collecting langchain_openai
  Downloading langchain_openai-0.1.9-py3-none-any.whl (40 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 40.3/40.3 kB 5.8 MB/s eta 0:00:00
Collecting langchain-core<0.3,>=0.2 (from langgraph)
  Downloading langchain_core-0.2.9-py3-none-any.whl (321 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 321.8/321.8 kB 16.0 MB/s eta 0:00:00
Requirement already satisfied: PyYAML>=5.3 in /usr/local/lib/python3.10/dist-packages (from langchain_community) (6.0.1)
Requirement already satisfied: SQLAlchemy<3,>=1.4 in /usr/local/lib/python3.10/dist-packages (from langchain_community) (2.0.30)
Requirement already satisfied: aiohttp<4.0.0,>=3.8.3 in /usr/local/lib/python3.10/dist-packages (from langchain_community) (3.9.5)
Collecting dataclasses-json<0.7,>=0.5.7 (from langchain_community)
  Downloading dataclasses_json-0.6.7-py3-none-any.whl (28 kB)
Collecting langchain<0.3.0,>=0.2.5 (from langchain_community)
  Downloading langchain-0.2.5-py3-none-any.whl (974 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 974.6/974.6 kB 21.0 MB/s eta 0:00:00
Collecting langsmith<0.2.0,>=0.1.0 (from langchain_community)
  Downloading langsmith-0.1.81-py3-none-any.whl (127 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 127.1/127.1 kB 19.6 MB/s eta 0:00:00
Requirement already satisfied: numpy<2,>=1 in /usr/local/lib/python3.10/dist-packages (from langchain_community) (1.25.2)
Requirement already satisfied: requests<3,>=2 in /usr/local/lib/python3.10/dist-packages (from langchain_community) (2.31.0)
Requirement already satisfied: tenacity<9.0.0,>=8.1.0 in /usr/local/lib/python3.10/dist-packages (from langchain_community) (8.4.1)
Collecting openai<2.0.0,>=1.26.0 (from langchain_openai)
  Downloading openai-1.35.3-py3-none-any.whl (327 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 327.4/327.4 kB 31.5 MB/s eta 0:00:00
Collecting tiktoken<1,>=0.7 (from langchain_openai)
  Downloading tiktoken-0.7.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.1/1.1 MB 29.7 MB/s eta 0:00:00
Requirement already satisfied: aiosignal>=1.1.2 in /usr/local/lib/python3.10/dist-packages (from aiohttp<4.0.0,>=3.8.3->langchain_community) (1.3.1)
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp<4.0.0,>=3.8.3->langchain_community) (23.2.0)
Requirement already satisfied: frozenlist>=1.1.1 in /usr/local/lib/python3.10/dist-packages (from aiohttp<4.0.0,>=3.8.3->langchain_community) (1.4.1)
Requirement already satisfied: multidict<7.0,>=4.5 in /usr/local/lib/python3.10/dist-packages (from aiohttp<4.0.0,>=3.8.3->langchain_community) (6.0.5)
Requirement already satisfied: yarl<2.0,>=1.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp<4.0.0,>=3.8.3->langchain_community) (1.9.4)
Requirement already satisfied: async-timeout<5.0,>=4.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp<4.0.0,>=3.8.3->langchain_community) (4.0.3)
Collecting marshmallow<4.0.0,>=3.18.0 (from dataclasses-json<0.7,>=0.5.7->langchain_community)
  Downloading marshmallow-3.21.3-py3-none-any.whl (49 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 49.2/49.2 kB 5.8 MB/s eta 0:00:00
Collecting typing-inspect<1,>=0.4.0 (from dataclasses-json<0.7,>=0.5.7->langchain_community)
  Downloading typing_inspect-0.9.0-py3-none-any.whl (8.8 kB)
Collecting langchain-text-splitters<0.3.0,>=0.2.0 (from langchain<0.3.0,>=0.2.5->langchain_community)
  Downloading langchain_text_splitters-0.2.1-py3-none-any.whl (23 kB)
Requirement already satisfied: pydantic<3,>=1 in /usr/local/lib/python3.10/dist-packages (from langchain<0.3.0,>=0.2.5->langchain_community) (2.7.4)
Collecting jsonpatch<2.0,>=1.33 (from langchain-core<0.3,>=0.2->langgraph)
  Downloading jsonpatch-1.33-py2.py3-none-any.whl (12 kB)
Requirement already satisfied: packaging<25,>=23.2 in /usr/local/lib/python3.10/dist-packages (from langchain-core<0.3,>=0.2->langgraph) (24.1)
Collecting orjson<4.0.0,>=3.9.14 (from langsmith<0.2.0,>=0.1.0->langchain_community)
  Downloading orjson-3.10.5-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (144 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 145.0/145.0 kB 18.8 MB/s eta 0:00:00
Requirement already satisfied: anyio<5,>=3.5.0 in /usr/local/lib/python3.10/dist-packages (from openai<2.0.0,>=1.26.0->langchain_openai) (3.7.1)
Requirement already satisfied: distro<2,>=1.7.0 in /usr/lib/python3/dist-packages (from openai<2.0.0,>=1.26.0->langchain_openai) (1.7.0)
Collecting httpx<1,>=0.23.0 (from openai<2.0.0,>=1.26.0->langchain_openai)
  Downloading httpx-0.27.0-py3-none-any.whl (75 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 75.6/75.6 kB 8.3 MB/s eta 0:00:00
Requirement already satisfied: sniffio in /usr/local/lib/python3.10/dist-packages (from openai<2.0.0,>=1.26.0->langchain_openai) (1.3.1)
Requirement already satisfied: tqdm>4 in /usr/local/lib/python3.10/dist-packages (from openai<2.0.0,>=1.26.0->langchain_openai) (4.66.4)
Requirement already satisfied: typing-extensions<5,>=4.7 in /usr/local/lib/python3.10/dist-packages (from openai<2.0.0,>=1.26.0->langchain_openai) (4.12.2)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2->langchain_community) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2->langchain_community) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2->langchain_community) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2->langchain_community) (2024.6.2)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from SQLAlchemy<3,>=1.4->langchain_community) (3.0.3)
Requirement already satisfied: regex>=2022.1.18 in /usr/local/lib/python3.10/dist-packages (from tiktoken<1,>=0.7->langchain_openai) (2024.5.15)
Requirement already satisfied: exceptiongroup in /usr/local/lib/python3.10/dist-packages (from anyio<5,>=3.5.0->openai<2.0.0,>=1.26.0->langchain_openai) (1.2.1)
Collecting httpcore==1.* (from httpx<1,>=0.23.0->openai<2.0.0,>=1.26.0->langchain_openai)
  Downloading httpcore-1.0.5-py3-none-any.whl (77 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 77.9/77.9 kB 10.8 MB/s eta 0:00:00
Collecting h11<0.15,>=0.13 (from httpcore==1.*->httpx<1,>=0.23.0->openai<2.0.0,>=1.26.0->langchain_openai)
  Downloading h11-0.14.0-py3-none-any.whl (58 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 58.3/58.3 kB 8.8 MB/s eta 0:00:00
Collecting jsonpointer>=1.9 (from jsonpatch<2.0,>=1.33->langchain-core<0.3,>=0.2->langgraph)
  Downloading jsonpointer-3.0.0-py2.py3-none-any.whl (7.6 kB)
Requirement already satisfied: annotated-types>=0.4.0 in /usr/local/lib/python3.10/dist-packages (from pydantic<3,>=1->langchain<0.3.0,>=0.2.5->langchain_community) (0.7.0)
Requirement already satisfied: pydantic-core==2.18.4 in /usr/local/lib/python3.10/dist-packages (from pydantic<3,>=1->langchain<0.3.0,>=0.2.5->langchain_community) (2.18.4)
Collecting mypy-extensions>=0.3.0 (from typing-inspect<1,>=0.4.0->dataclasses-json<0.7,>=0.5.7->langchain_community)
  Downloading mypy_extensions-1.0.0-py3-none-any.whl (4.7 kB)
Installing collected packages: orjson, mypy-extensions, marshmallow, jsonpointer, h11, typing-inspect, tiktoken, jsonpatch, httpcore, langsmith, httpx, dataclasses-json, openai, langchain-core, langgraph, langchain-text-splitters, langchain_openai, langchain, langchain_community
Successfully installed dataclasses-json-0.6.7 h11-0.14.0 httpcore-1.0.5 httpx-0.27.0 jsonpatch-1.33 jsonpointer-3.0.0 langchain-0.2.5 langchain-core-0.2.9 langchain-text-splitters-0.2.1 langchain_community-0.2.5 langchain_openai-0.1.9 langgraph-0.1.1 langsmith-0.1.81 marshmallow-3.21.3 mypy-extensions-1.0.0 openai-1.35.3 orjson-3.10.5 tiktoken-0.7.0 typing-inspect-0.9.0

Setting Up Required Environment Variables

In [2]:
import os
os.environ['OPENAI_API_KEY'] = ''
os.environ['LANGCHAIN_API_KEY'] = ''

Importing the OpenAI model GPT-4 using Langchain

In [3]:
from langchain_openai import ChatOpenAI

model = ChatOpenAI(model="gpt-3.5-turbo")

<h1>SQL Query Generation and Optimization </h1>

Read Input File

In [11]:
def read_input(file_path):
    with open(file_path, 'r') as file:
        questions = file.readlines()
    return [question.strip() for question in questions if question.strip()]

SQL Query Generation

In [10]:
def generate_sql_query(question):
    prompt = f"Convert the following natural language question into an SQL query:\nQuestion: {question}\nSQL Query:"
    sql_query=model.invoke(input=prompt)
    return sql_query.content

Query Optimization

In [8]:
def optimize_sql_query(sql_query):
    prompt = f"Analyze the following SQL query and suggest optimizations to improve performance:\nSQL Query: {sql_query}\nOptimizations:"
    optimizations=model.invoke(input=prompt)

    return optimizations.content

Well-formatted Output

In [7]:
questions = read_input('questions.txt')
for i, question in enumerate(questions, 1):
    sql_query = generate_sql_query(question)
    optimizations = optimize_sql_query(sql_query)
    print(f"Question {i}: {question}\n")
    print("Generated SQL Query:\n")
    print(sql_query + "\n")
    print("Optimization Suggestions:\n")
    print(optimizations + "\n")
    print("="*50 + "\n")

Question 1: Show me the top 5 highest-paid employees.

Generated SQL Query:

SELECT *
FROM employees
ORDER BY salary DESC
LIMIT 5;

Optimization Suggestions:

To optimize the performance of this SQL query, you can consider the following suggestions:

1. Use Indexing: Creating an index on the 'salary' column can improve the performance of the ORDER BY clause. This will allow the database to quickly retrieve and sort the data based on the 'salary' column.

2. Limit the Columns Selected: Instead of using SELECT *, explicitly list only the columns needed in the query. This can reduce the amount of data that needs to be retrieved and processed, improving performance.

3. Use Caching: If the query is frequently executed with the same parameters, consider caching the results to avoid redundant queries.

4. Partitioning: If the 'employees' table is large, consider partitioning it based on the 'salary' column. This can help distribute the data across multiple partitions, improving query performance.

5. Use Materialized Views: If the query is complex and involves multiple tables, consider using materialized views to precompute and store the results. This can improve query performance for frequently executed queries.

==================================================

Question 2: Who is the youngest employee in the Engineering department?

Generated SQL Query:

SELECT name
FROM employees
WHERE department = 'Engineering'
ORDER BY age ASC
LIMIT 1;

Optimization Suggestions:

1. Indexing: Create an index on the 'department' column as well as the 'age' column in the 'employees' table to make the WHERE clause and ORDER BY clause more efficient.

2. Use a covering index: Create a covering index that includes both the 'department' and 'age' columns so that the query can be satisfied using only the index without having to access the actual table data.

3. Use a composite index: Create a composite index on both the 'department' and 'age' columns to further optimize the query.

4. Reconsider the LIMIT clause: If the query is frequently fetching the first employee in the 'Engineering' department, consider if you really need the LIMIT clause. Removing it could improve performance.

5. Monitor query performance: Use tools like EXPLAIN to analyze the query execution plan and identify any potential bottlenecks. Make adjustments based on the findings to improve performance.

==================================================

Question 3: Find all employees who were hired in the year 2019.

Generated SQL Query:

SELECT *
FROM employees
WHERE YEAR(hire_date) = 2019;

Optimization Suggestions:

1. Use an index on the hire_date column: By creating an index on the hire_date column, the database engine can quickly locate the rows that meet the condition in the WHERE clause, resulting in improved performance.

2. Avoid using functions in the WHERE clause: Instead of using the YEAR function in the WHERE clause, consider storing the year separately in a column or using a range query to filter the results based on hire_date >= '2019-01-01' AND hire_date < '2020-01-01'. This can eliminate the need to apply a function to every row in the table.

3. Limit the columns selected: Instead of using "SELECT *", specify only the columns that are needed in the result set. This can reduce the amount of data that needs to be retrieved and can improve query performance.

4. Consider partitioning the table: If the employees table is very large, partitioning can help distribute the data across multiple physical storage units, making it easier for the database engine to retrieve the relevant rows based on the condition in the WHERE clause.

==================================================

Question 4: Show the names of employees whose salary is above the average salary in their department.

Generated SQL Query:

SELECT name
FROM employees
WHERE salary > (SELECT AVG(salary)
                FROM employees
                GROUP BY department
                HAVING department = employees.department);

Optimization Suggestions:

1. Use a join instead of a subquery:
Instead of using a subquery to calculate the average salary by department, you can use a join to get the average salary for each department and then compare it with the salary of each employee. This can reduce the number of calculations and improve performance.

2. Create an index on the salary column:
Creating an index on the salary column can help speed up the retrieval of data when filtering based on the salary column. This can improve the performance of the query significantly.

3. Use EXISTS instead of IN:
Using EXISTS instead of IN can sometimes improve performance, especially when dealing with large datasets. Consider rewriting the query to use EXISTS to check for the existence of records in the subquery instead of using IN.

4. Consider denormalizing the data:
If performance is a critical issue and the query is run frequently, you may consider denormalizing the data by storing the average salary by department in a separate table. This can eliminate the need to calculate the average salary each time the query is run, improving performance.

==================================================

Question 5: Display the names of employees whose first and last names start with the same letter.

Generated SQL Query:

SELECT name
FROM employees
WHERE SUBSTRING_INDEX(first_name, ' ', 1) LIKE CONCAT(SUBSTRING_INDEX(last_name, ' ', 1), '%')

Optimization Suggestions:

1. Indexes: Ensure that there are indexes on the 'first_name' and 'last_name' columns to improve the performance of the query. Indexes can speed up the search process and make the query run faster.

2. Use a more efficient comparison: Instead of using the LIKE operator with CONCAT and SUBSTRING_INDEX functions, consider using a different comparison method that is more efficient. For example, you could use the equality operator (=) with a comparison of the first word of the first name and last name directly.

3. Normalize the data: If possible, consider normalizing the data in the 'first_name' and 'last_name' columns so that the comparison can be done more efficiently without the need for string manipulation functions.

4. Use full-text search: If the goal of the query is to find similar names, consider using a full-text search feature provided by the database management system. Full-text search can be more efficient for searching text data than string manipulation functions.

5. Limit the result set: If the query is returning a large number of records, consider adding a LIMIT clause to limit the number of results returned. This can help improve query performance by reducing the amount of data that needs to be processed.

==================================================

Question 6: Find the employee with the highest salary in each department

Generated SQL Query:

SELECT department, MAX(salary) AS highest_salary
FROM employees
GROUP BY department;

Optimization Suggestions:

1. Indexes: Make sure that there is an index on the 'department' column in the 'employees' table. This will help speed up the grouping process.
2. Partitioning: If the 'employees' table is large, consider partitioning it by the 'department' column. This can help improve query performance by only scanning the relevant partitions.
3. Caching: Consider caching the result of this query if the data does not change frequently. This can help reduce the overhead of running the query multiple times.
4. Avoid unnecessary columns: If the 'department' column is the only one needed in the result set, remove the 'salary' column from the SELECT statement to reduce unnecessary data retrieval.
5. Use appropriate data types: Make sure that the 'department' column is using an appropriate data type and size to avoid any unnecessary overhead.
6. Consider denormalization: If performance is still an issue, consider denormalizing the data by storing the highest salary for each department in a separate table. This can help improve query performance by reducing the need for aggregation functions like MAX().

==================================================

<h2>Extra Credit 1</h2>

For complex queries, the LLM's capability can handle subqueries and joins, but may require more context. Hence modifying our sql query generation function for this.

In [12]:
def generate_complex_sql_query(question):
    prompt = f"Convert the following complex natural language question into an SQL query. Handle subqueries and joins appropriately:\nQuestion: {question}\nComplex SQL Query:"
    sql_query = model.invoke(prompt.content)
    return sql_query

<h2>Extra Credit 2</h2>

Table schema and the data to be inserted.

In [14]:
import sqlite3

# Define the table schema
create_table_sql = """
CREATE TABLE IF NOT EXISTS employees (
    EmployeeID INTEGER PRIMARY KEY,
    FirstName TEXT NOT NULL,
    LastName TEXT NOT NULL,
    Age INTEGER,
    Department TEXT,
    Position TEXT,
    Salary REAL,
    HireDate TEXT,
    ManagerID INTEGER
);
"""

# Define the data to be inserted
employee_data = [
    (1, 'John', 'Smith', 28, 'Sales', 'Manager', 85000, '01/03/2015', 21),
    (2, 'Jane', 'Doe', 34, 'Engineering', 'Developer', 95000, '23/05/2016', 6),
    (3, 'Emily', 'Johnson', 29, 'HR', 'Generalist', 70000, '14/08/2017', 7),
    (4, 'Michael', 'Brown', 45, 'Marketing', 'Coordinator', 80000, '11/11/2014', 20),
    (5, 'Sarah', 'Williams', 31, 'Sales', 'Consultant', 85000, '25/07/2013', 1),
    (6, 'David', 'Jones', 38, 'Engineering', 'Manager', 95000, '17/09/2019', 1),
    (7, 'Laura', 'Garcia', 26, 'HR', 'Manager', 70000, '02/12/2018', 21),
    (8, 'James', 'Miller', 39, 'Marketing', 'SEO', 80000, '10/01/2020', 20),
    (9, 'Anna', 'Davis', 27, 'Sales', 'Associate', 85000, '01/03/2015', 1),
    (10, 'Robert', 'Rodriguez', 41, 'Engineering', 'QA', 95000, '23/05/2016', 6),
    (11, 'Linda', 'Martinez', 33, 'HR', 'Coordinator', 70000, '14/08/2017', 7),
    (12, 'William', 'Hernandez', 30, 'Marketing', 'Analyst', 80000, '11/11/2014', 20),
    (13, 'Elizabeth', 'Lopez', 36, 'Sales', 'Analyst', 85000, '25/07/2013', 1),
    (14, 'Richard', 'Gonzalez', 42, 'Engineering', 'DevOps', 95000, '17/09/2019', 6),
    (15, 'Jessica', 'Wilson', 32, 'HR', 'Analyst', 70000, '02/12/2018', 7),
    (16, 'Joseph', 'Anderson', 37, 'Marketing', 'Associate', 80000, '10/01/2020', 20),
    (17, 'Karen', 'Thomas', 29, 'Sales', 'Coordinator', 85000, '01/03/2015', 1),
    (18, 'Thomas', 'Taylor', 35, 'Engineering', 'Technical support', 95000, '23/05/2016', 6),
    (19, 'Nancy', 'Moore', 40, 'HR', 'Recruiter', 70000, '14/08/2017', 7),
    (20, 'Charles', 'Jackson', 43, 'Marketing', 'Manager', 80000, '11/11/2014', 21),
    (21, 'Alex', 'Johnson', 50, 'Management', 'CEO', 200000, '01/01/2010', 22)
]

 Script to create the table and insert the data.

In [15]:
def create_connection(db_file):
    """ Create a database connection to the SQLite database """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(f"Connected to {db_file}")
    except sqlite3.Error as e:
        print(e)
    return conn

def create_table(conn):
    """ Create a table from the create_table_sql statement """
    try:
        cursor = conn.cursor()
        cursor.execute(create_table_sql)
    except sqlite3.Error as e:
        print(e)

def insert_data(conn):
    """ Insert data into the employees table """
    insert_sql = """
    INSERT INTO employees (EmployeeID, FirstName, LastName, Age, Department, Position, Salary, HireDate, ManagerID)
    VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
    """
    try:
        cursor = conn.cursor()
        cursor.executemany(insert_sql, employee_data)
        conn.commit()
    except sqlite3.Error as e:
        print(e)

def query_data(conn):
    """ Query all rows in the employees table """
    select_sql = "SELECT * FROM employees"
    try:
        cursor = conn.cursor()
        cursor.execute(select_sql)
        rows = cursor.fetchall()
        for row in rows:
            print(row)
    except sqlite3.Error as e:
        print(e)


database = "mydatabase.db"
conn = create_connection(database)
if conn:
    create_table(conn)
    insert_data(conn)
    query_data(conn)
    conn.close()

Connected to mydatabase.db
(1, 'John', 'Smith', 28, 'Sales', 'Manager', 85000.0, '01/03/2015', 21)
(2, 'Jane', 'Doe', 34, 'Engineering', 'Developer', 95000.0, '23/05/2016', 6)
(3, 'Emily', 'Johnson', 29, 'HR', 'Generalist', 70000.0, '14/08/2017', 7)
(4, 'Michael', 'Brown', 45, 'Marketing', 'Coordinator', 80000.0, '11/11/2014', 20)
(5, 'Sarah', 'Williams', 31, 'Sales', 'Consultant', 85000.0, '25/07/2013', 1)
(6, 'David', 'Jones', 38, 'Engineering', 'Manager', 95000.0, '17/09/2019', 1)
(7, 'Laura', 'Garcia', 26, 'HR', 'Manager', 70000.0, '02/12/2018', 21)
(8, 'James', 'Miller', 39, 'Marketing', 'SEO', 80000.0, '10/01/2020', 20)
(9, 'Anna', 'Davis', 27, 'Sales', 'Associate', 85000.0, '01/03/2015', 1)
(10, 'Robert', 'Rodriguez', 41, 'Engineering', 'QA', 95000.0, '23/05/2016', 6)
(11, 'Linda', 'Martinez', 33, 'HR', 'Coordinator', 70000.0, '14/08/2017', 7)
(12, 'William', 'Hernandez', 30, 'Marketing', 'Analyst', 80000.0, '11/11/2014', 20)
(13, 'Elizabeth', 'Lopez', 36, 'Sales', 'Analyst', 85000.0, '25/07/2013', 1)
(14, 'Richard', 'Gonzalez', 42, 'Engineering', 'DevOps', 95000.0, '17/09/2019', 6)
(15, 'Jessica', 'Wilson', 32, 'HR', 'Analyst', 70000.0, '02/12/2018', 7)
(16, 'Joseph', 'Anderson', 37, 'Marketing', 'Associate', 80000.0, '10/01/2020', 20)
(17, 'Karen', 'Thomas', 29, 'Sales', 'Coordinator', 85000.0, '01/03/2015', 1)
(18, 'Thomas', 'Taylor', 35, 'Engineering', 'Technical support', 95000.0, '23/05/2016', 6)
(19, 'Nancy', 'Moore', 40, 'HR', 'Recruiter', 70000.0, '14/08/2017', 7)
(20, 'Charles', 'Jackson', 43, 'Marketing', 'Manager', 80000.0, '11/11/2014', 21)
(21, 'Alex', 'Johnson', 50, 'Management', 'CEO', 200000.0, '01/01/2010', 22)

Executing queries on database.

In [16]:
def execute_query(db_path, sql_query):
    conn = sqlite3.connect(db_path)
    cursor = conn.cursor()
    try:
        cursor.execute(sql_query)
        results = cursor.fetchall()
        return results
    except sqlite3.Error as e:
        return str(e)
    finally:
        conn.close()

Fetching and displaying results from the database

In [19]:
questions = read_input('questions.txt')
for i, question in enumerate(questions, 1):
    sql_query = generate_sql_query(question)
    result= execute_query(database,sql_query)
    print(f"Question {i}: {question}\n")
    print("Generated SQL Query:\n")
    print(sql_query + "\n")
    print("Fetched result from database:\n")
    print(result)
    print("="*50 + "\n")

Question 1: Show me the top 5 highest-paid employees.

Generated SQL Query:

SELECT *
FROM employees
ORDER BY salary DESC
LIMIT 5;

Fetched result from database:

[(21, 'Alex', 'Johnson', 50, 'Management', 'CEO', 200000.0, '01/01/2010', 22), (2, 'Jane', 'Doe', 34, 'Engineering', 'Developer', 95000.0, '23/05/2016', 6), (6, 'David', 'Jones', 38, 'Engineering', 'Manager', 95000.0, '17/09/2019', 1), (10, 'Robert', 'Rodriguez', 41, 'Engineering', 'QA', 95000.0, '23/05/2016', 6), (14, 'Richard', 'Gonzalez', 42, 'Engineering', 'DevOps', 95000.0, '17/09/2019', 6)]
==================================================

Question 2: Who is the youngest employee in the Engineering department?

Generated SQL Query:

SELECT employee_name
FROM employees
WHERE department = 'Engineering'
ORDER BY age ASC
LIMIT 1;

Fetched result from database:

no such column: employee_name
==================================================

Question 3: Find all employees who were hired in the year 2019.

Generated SQL Query:

SELECT *
FROM employees
WHERE YEAR(hire_date) = 2019;

Fetched result from database:

no such column: hire_date
==================================================

Question 4: Show the names of employees whose salary is above the average salary in their department.

Generated SQL Query:

SELECT name
FROM employees
WHERE salary > (
    SELECT AVG(salary)
    FROM employees
    WHERE department_id = employees.department_id
)

Fetched result from database:

no such column: name
==================================================

Question 5: Display the names of employees whose first and last names start with the same letter.

Generated SQL Query:

SELECT name
FROM employees
WHERE SUBSTRING(name, 1, 1) = SUBSTRING(name, INSTR(name, ' ') + 1, 1);

Fetched result from database:

no such column: name
==================================================

Question 6: Find the employee with the highest salary in each department

Generated SQL Query:

SELECT department, MAX(salary) AS highest_salary
FROM employees
GROUP BY department;

Fetched result from database:

[('Engineering', 95000.0), ('HR', 70000.0), ('Management', 200000.0), ('Marketing', 80000.0), ('Sales', 85000.0)]
==================================================